@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    scroll-behavior: smooth;
}
body {
    background-image: linear-gradient(180deg,#121212,#262626);
}

/* navbar */
nav {
    transition: top 0.3s;
}


.-z-1 {
    z-index: -1;
}
.header-title {
  @apply text-5xl lg:text-6xl 2xl:text-7xl;
}

.secondary-title {
    @apply text-3xl font-bold lg:text-5xl;
}

.secondary-title::before {
    content: "";
    @apply block w-12 h-2 bg-theme rounded-full mb-1;
}



.section-paragraph {
    @apply text-secondary my-4 w-full max-w-screen-2xl lg:text-lg 2xl:text-xl;
}

.secondary-title3 {
  @apply text-xl font-medium lg:text-2xl 2xl:text-2xl;
}

.section-span {
  @apply text-secondary my-1 w-full lg:text-lg 2xl:text-xl;
}


/* pro spravbe ztobrazenisekce */
[id] {
scroll-margin-top: 100px;
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 32px;
    height: 32px;
    transition: all 0.25s;
    position: relative;
  }
  
  .hamburger-top,
  .hamburger-middle,
  .hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    transform: rotate(0);
    transition: all 0.5s;
  }
  
  .hamburger-middle {
    transform: translateY(14px);
  }
  
  .hamburger-bottom {
    transform: translateY(28px);
  }
  
  .open {
    transform: rotate(90deg);
    transform: translateY(4px);
  }
  
  .open .hamburger-top {
    transform: rotate(45deg) translateY(8px) translate(8px);
  }
  
  .open .hamburger-middle {
    display: none;
  }
  
  .open .hamburger-bottom {
    transform: rotate(-45deg) translateY(8px) translate(-8px);
  }
/* end Hamburger Menu */

  